@model RegisterViewModel​

@{
    ViewData["Title"] = "Register";
}​
<body style="overflow-y: auto;">
<div class="validation-summary-errors" style="margin-top:30px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    <div class="register-box">
               <h2>Register</h2>
              <form asp-area="" asp-controller="User" method="post">
            <div class="user-box">​
                <label asp-for="@Model.UserName">Username</label>​
                <input class="form-control " style="margin-bottom:auto;"autocomplete="username" aria-required="true" asp-for="@Model.UserName"/>​
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>​
            </div>
            <label>

            </label>
            <div class="user-box">​
                <label asp-for="@Model.FirstName">Firstname</label>​
                <input class="form-control " style="margin-bottom:auto;"autocomplete="firstname" aria-required="true" asp-for="@Model.FirstName"/>​
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>​
            </div>​
            <div class="user-box">​
                <label asp-for="@Model.Surname">Surname</label>​
                <input class="form-control" style="margin-bottom:auto;" autocomplete="surname" aria-required="true" asp-for="@Model.Surname"/>​
                <span asp-validation-for="@Model.Surname" class="text-danger"></span>​
            </div>​
            <div class="user-box">​
                <label asp-for="@Model.EmailAddress">Email</label>​
                <input class="form-control " style="margin-bottom:auto;"autocomplete="username" aria-required="true" asp-for="@Model.EmailAddress" />​
                <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>​
                </div>
                <label>

                </label>
                <div class="user-box">​
                <label asp-for="@Model.Password">Password</label>​
                <input class="form-control" style="margin-bottom:auto;"type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />​
                <span asp-validation-for="@Model.Password" class="text-danger"></span>​
            </div>​
            <div class="user-box">​
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>​
                <input class="form-control" style="margin-bottom:auto;"type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />​
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>​
            </div>​
            <div>
            <a href="/User/Login" style="color: white; font-weight: 700; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Already have an account?</a>
        </div>
                <button class="register-submit-btn" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
    </form>
    </div>
<link href="~/css/register.css" rel="stylesheet" />
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}