@using CarRental.Models.Car
@model CarViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(#1f6bc0, #0b1c3f);
            color: #fff;
        }

        .form-label,
        .form-control {
            color: #fff !important;
            font-weight: 600;
        }

        .btn.btn-primary.mt-3 {
            padding: 13px 55px;
            margin-bottom: 1.3em;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <form asp-area="" method="post">
                    <div class="mb-3">
                        <label asp-for="Make" class="form-label">Make</label>
                        <input asp-for="Make" class="form-control text-white fw-bold" placeholder="Make">
                        <span asp-validation-for="Make" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Model" class="form-label">Model</label>
                        <input asp-for="Model" class="form-control text-white fw-bold" placeholder="Model">
                        <span asp-validation-for="Model" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PricePerDay" class="form-label">Daily Price</label>
                        <input asp-for="PricePerDay" class="form-control text-white fw-bold">
                        <span asp-validation-for="PricePerDay" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedBodyType" class="form-label">Body Type</label>
                        <select asp-for="SelectedBodyType" class="form-select text-white fw-bold">
                            <option value="">Select Body Type</option>
                            @foreach (var bodyType in Model.BodyTypes)
                            {
                                <option value="@bodyType">@bodyType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedBodyType" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="YearOfProduction" class="form-label">Year</label>
                        <input asp-for="YearOfProduction" class="form-control text-white fw-bold" placeholder="Year Of Production">
                        <span asp-validation-for="YearOfProduction" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SafetyRating" class="form-label">Safety Rating</label>
                        <input asp-for="SafetyRating" class="form-control text-white fw-bold" placeholder="Safety Rating">
                        <span asp-validation-for="SafetyRating" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Seats" class="form-label">Passenger Seats</label>
                        <input asp-for="Seats" class="form-control text-white fw-bold" placeholder="Seats">
                        <span asp-validation-for="Seats" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedTransmissionType" class="form-label">Transmission Type</label>
                        <select asp-for="SelectedTransmissionType" class="form-select text-white fw-bold">
                            <option value="">Select Transmission Type</option>
                            @foreach (var transmissionType in Model.TransmissionTypes)
                            {
                                <option value="@transmissionType">@transmissionType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedTransmissionType" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedEngineStructureType" class="form-label">Engine Structure Type</label>
                        <select asp-for="SelectedEngineStructureType" class="form-select text-white fw-bold">
                            <option value="">Select Engine Structure Type</option>
                            @foreach (var engineStructureType in Model.EngineStructureTypes)
                            {
                                <option value="@engineStructureType">@engineStructureType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedEngineStructureType" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CylindersNumber" class="form-label">Cylinders Number</label>
                        <input asp-for="CylindersNumber" class="form-control text-white fw-bold" placeholder="Cylinders Number">
                        <span asp-validation-for="CylindersNumber" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedEngineAspirationType" class="form-label">Engine Aspiration Type</label>
                        <select asp-for="SelectedEngineAspirationType" class="form-select text-white fw-bold">
                            <option value="">Select Engine Aspiration Type</option>
                            @foreach (var engineAspirationType in Model.EngineAspirationTypes)
                            {
                                <option value="@engineAspirationType">@engineAspirationType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedEngineAspirationType" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedFuelType" class="form-label">Fuel Type</label>
                        <select asp-for="SelectedFuelType" class="form-select text-white fw-bold">
                            <option value="">Select Fuel Type</option>
                            @foreach (var fuelType in Model.EngineFuelTypes)
                            {
                                <option value="@fuelType">@fuelType.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedFuelType" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Displacement" class="form-label">Displacement</label>
                        <input asp-for="Displacement" class="form-control text-white fw-bold" placeholder="Displacement">
                        <span asp-validation-for="Displacement" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Horsepower" class="form-label">Horsepower</label>
                        <input asp-for="Horsepower" class="form-control text-white fw-bold" placeholder="Horsepower">
                        <span asp-validation-for="Horsepower" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PeakHorsepowerAtRPM" class="form-label">Peak Horsepower At RPM</label>
                        <input asp-for="PeakHorsepowerAtRPM" class="form-control text-white fw-bold" placeholder="Peak Horsepower At RPM">
                        <span asp-validation-for="PeakHorsepowerAtRPM" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Torque" class="form-label">Torque</label>
                        <input asp-for="Torque" class="form-control text-white fw-bold" placeholder="Torque">
                        <span asp-validation-for="Torque" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PeakTorqueAtRPM" class="form-label">Peak Torque At RPM</label>
                        <input asp-for="PeakTorqueAtRPM" class="form-control text-white fw-bold" placeholder="Peak Torque At RPM">
                        <span asp-validation-for="PeakTorqueAtRPM" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="AccelerationTo100" class="form-label">Acceleration (0-100)</label>
                        <input asp-for="AccelerationTo100" class="form-control text-white fw-bold" placeholder="Acceleration">
                        <span asp-validation-for="AccelerationTo100" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TopSpeed" class="form-label">Top Speed</label>
                        <input asp-for="TopSpeed" class="form-control text-white fw-bold" placeholder="Top Speed">
                        <span asp-validation-for="TopSpeed" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Mileage" class="form-label">Mileage</label>
                        <input asp-for="Mileage" class="form-control text-white fw-bold" placeholder="Mileage">
                        <span asp-validation-for="Mileage" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageURL" class="form-label">Image URL</label>
                        <input asp-for="ImageURL" class="form-control text-white fw-bold" placeholder="Image URL">
                        <span asp-validation-for="ImageURL" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConsumptionPer100Km" class="form-label">Consumption Per 100 Km</label>
                        <input asp-for="ConsumptionPer100Km" class="form-control text-white fw-bold" placeholder="Consumption Per 100 Km">
                        <span asp-validation-for="ConsumptionPer100Km" class="text-danger small"></span>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary mt-3" type="submit" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
