@using CarRental.Extensions
@using CarRental.Models.Car
@model CarAllViewModel

<div class="col-md-4" style="color:#fff">
    <div class="card mb-3" style="background-color:transparent; border:5px solid rgba(0, 0, 0, .125);">
        <img class="card-img-top" style="height: 361px;border-bottom:5px solid rgba(0, 0, 0, .125);" src="@Model.ImageUrl" alt="Car Image">
        <div class="card-body text-center">
            <h4 style="font-weight:800;">@Model.Make</h4>
            <h6>Model: <b>@Model.Model</b></h6>
            <h6>
                Price Per Day:
                <b>@($"{Model.PricePerDay:f2}") BGN</b>
            </h6>
            <h6 style="font-weight:700;">(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
            <br />
            <div style="display: flex; justify-content: center;">
            @if (this.User.Identity.IsAuthenticated)
            {
                    <a asp-area="" asp-controller="Car" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-success" style="border: 3px solid rgba(0, 0, 0, .125);color: #fff;background-color: #0d6efd; margin:5px;font-weight:600;">Details</a>
            }


           @if (this.User.IsAdmin()) 
            {
                    <a asp-area="" asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" style="border: 3px solid rgba(0, 0, 0, .125);color: #fff;background-color: #0d6efd; margin:5px; font-weight:600;">Edit</a>
                    <form method="post">
                        <button type="submit" asp-area="" asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="border: 3px solid rgba(0, 0, 0, .125);color: #fff;background-color: #0d6efd; margin:5px;font-weight:600;">
                        Delete
                    </button>
                    </form>
            }
            </div>
        </div>
    </div>
</div>

<style>
    .card-body.text-center {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 15px -3px, rgba(0, 0, 0, 0.04) 0px 10px 20px -2px;
        border-radius: 0.9rem;
    }

    .card-img-top {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 15px -3px, rgba(0, 0, 0, 0.04) 0px 10px 20px -2px
    }
</style>